.about-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%
}

.about-page .photo {
	width: 400px;
	height: 400px;
	max-width: 100%;
	margin: 10px;
	border-radius: 200px;
	background-image: url('../assets/me.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.about-page .social-media {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	flex-wrap: wrap;
}

.about-page .social-media div {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	margin: 4px;
}

.about-page .linkedin {
	background-image: url('../assets/linkedin-logo.png');
}

.about-page .github {
	background-image: url('../assets/github.png');
}

.about-page .content {
	max-width: 550px;
	padding-left: 60px;
	padding-top: 30px;
}

.about-page .content > div {
	margin-bottom: 15px;
}

.about-page .main-title {
	font-weight: bold;
	font-size: 26px;
}

.about-page .sub-title {
	padding-bottom: 20px;
	font-size: 16px;
}

.about-page .resume-button-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.about-page .resume-button-wrapper .resume-button {
	padding: 10px;
	border: 1px solid #0066ff;
	border-radius: 5px;
	margin-right: 10px;
}

.about-page .mini-title {
	font-weight: bold;
	font-size: 18px;
}

.about-page .sub-sections {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	direction: row;
}

.about-page .sub-section {
	margin-right: 20px;
	margin-bottom: 10px;
	max-width: 300px;
}