.project-card  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
}

.project-card .card {
	height: 450px;
	width: 450px;
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 10px 16px 0px grey;
	margin: 20px;
}

.project-card .card:hover {
	box-shadow: 0px 11px 16px 2px grey;
}

.project-card-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: top;
	justify-content: center;
	max-width: 1000px;
}

.project-card .image {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center center;
}

.project-card .details {
	padding: 10px;
}

.project-card .title {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
}

.project-card .skills {
	font-style: italic;
	padding-bottom: 5px;
}

.project-card .full-details {
	padding: 20px;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.project-card .details ul { 
	padding: 0;
	margin: 0;
}

.project-card iframe {
	width: 100%;
	height: 250px;
}



.project-card .testA {
	background-image: url('../assets/about.JPG');
}

.project-card .uwskiclub {
	background-image: url('../assets/uwskiclub.jpg');
}

.project-card .tiva {
	background-image: url('../assets/tiva.jpg');
}

.project-card .thiswebsite {
	background-image: url('../assets/splash1.jpg');
}

.project-card .sexxnotes {
	background-image: url('../assets/goose.jpg');
}

.project-card .chickenrun {
	background-image: url('../assets/chickenrun.jpg');
}

.project-card .illume {
	background-image: url('../assets/illume.jpg');
}

.project-card .comingsoon {
	background-image: url('../assets/comingsoon.jpg');
}

.project-card .linefollower {
	background-image: url('../assets/linefollower.jpg');
}

.project-card .hexapod {
	background-image: url('../assets/hexapod.jpg');
}

.project-card .minesweeper {
	background-image: url('../assets/minesweeper.png');
}

.project-card .compiler {
	background-image: url('../assets/compiler.jpg');
}

.project-card .cppcards {
	background-image: url('../assets/cppcards.png');
}

.project-card .watcourse {
    background-image: url('../assets/watcourse.png')
}